.flash {
    display: block;
    background-color: #2fdc2f !important;
    color: white;
    font-weight: bold;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 16px;
}

table {
    width: 100%;
    margin-bottom: 12px;
}

.error {
    display: inline-block;
    color: darkred;
}

body {
    color: white;
    background: black;
}

a {
    color: #4A90E2;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #E6E6E6;
}

a:visited {
    color: #A9A9A9;
}